<div class="row">
  <div class="col-12 mt-2">
    <button class="btn btn-light btn-block dropdown-toggle text-right" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each category }}
      <a class="dropdown-item" href="/sort/{{this.name}}">{{this.name}}</a>
      {{/each}}
      <a class="dropdown-item" href="/">總表</a>
    </div>
  </div>
</div>
<div class="row justify-content-start mt-2">
  <div class="col-3">
    <span style="font-size: 2em;">總金額 :</span>
  </div>
  <div class="col-9">
    <span style="font-size: 5em;">{{total}}</span>
  </div>
</div>
<ul class="list-group mt-2">
  {{#each record}}
  <li class="list-group-item">
    <div class="row justify-content-between ">
      <div class="col-1 align-self-center">
        <i class="{{this.icon}} fa-2x ml-3 align-self-center"></i>
      </div>
      <div class="col-11 row justify-content-between">
        <div class="col-4 align-self-center">
          <div class="row">
            <div class="col-12">{{this.name}}</div>
            <div class="col-12">{{this.date}}</div>
          </div>
        </div>
        <span class="align-self-center">{{this.amount}}</span>
        <div class="col-6">
          <div class="row justify-content-end">
            <a type="button" class="btn btn-success mr-2" href="/record/{{this._id}}/edit">修改</a>
            <form action="/record/{{this._id}}?_method=DELETE" method="POST">
              <button class="btn btn-danger mt-1 mt-sm-0 mr-2" type="submit">刪除</button>
            </form>
            {{!-- <a type="button" class="btn btn-danger mt-1 mt-sm-0 mr-2" href="/record/{{this._id}}/delete">刪除</a> --}}
          </div>
        </div>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
<div class="row justify-content-center mt-2">
  <a type="button" class="btn btn-info" href="/record/create">新增支出</a>
</div>